.container-Profile {
  display: flex;
  flex-direction: column;
  justify-content: column;
  align-items: center;
  padding: 20px;
}
.profileInformation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.profileButton {
  margin-top: auto;
  width: 20%;
  height: 2em;
  background-color: rgb(35, 45, 48);
  color: rgb(255, 255, 255);
  transition: 0.5s;
  border-radius: 0.5em;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
}

.profileButton:hover {
  background-color: lightslategrey;
}

.changeForm {
  padding: 55px;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(144, 181, 181, 0.5);
  box-shadow: 0 0.188em 1.55em rgb(100, 156, 156);
}

.nameBox {
  padding: 0;
  height: 30px;
  border: 1px solid #000000;
  border-color: rgba(255, 255, 255, 0.15);
  font-size: 16px;
}

.address1Box {
  padding: 0;
  height: 30px;
  border: 1px solid #000000;
  border-color: rgba(255, 255, 255, 0.15);
  font-size: 16px;
}

.address2Box {
  padding: 0;
  height: 30px;
  border: 1px solid #000000;
  border-color: rgba(255, 255, 255, 0.15);
  font-size: 16px;
}

.cityBox {
  padding: 0;
  height: 30px;
  border: 1px solid #000000;
  border-color: rgba(255, 255, 255, 0.15);
  font-size: 16px;
}

.zipBox {
  padding: 0;
  height: 30px;
  border: 1px solid #000000;
  border-color: rgba(255, 255, 255, 0.15);
  font-size: 16px;
}

.passBox {
  padding: 0;
  height: 30px;
  border: 1px solid #000000;
  border-color: rgba(255, 255, 255, 0.15);
  font-size: 16px;
}

.submitBox {
  color: rgb(191, 206, 206);
  width: 300px;
  background-color: rgb(35, 45, 48);
  padding: 0;
  height: 30px;
  border: 1px solid #000000;
  border-color: rgba(255, 255, 255, 0.15);
  font-size: 16px;
  cursor: pointer;
}

label {
  color: rgb(0, 0, 0);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

input[type="text"] {
  width: 325px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

input:focus {
  outline-color: rgb(63, 84, 95);
}
